{% extends 'base.html' %}
{% block title %}
Admin
{% endblock %}

<!--Beginning of authentication if statement-->
{% if current_user.is_authenticated %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <img class="logo img-fluid" src="{{url_for('static', filename='css/img/logo.png')}}">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Finance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>
    </ul>
    <a class="btn btn-success text-dark" href="{{url_for('admin_logout')}}" role="button">Logout</a>
  </div>
</nav>

{% endblock %}


  {% block header %}

  <p>Admin Dashboard</p>

  {% endblock %}





<!--If user is not authenticated-->

{% else %}


{% endif %}
<!--End of authentication if statement-->

